.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.btn-regular{
    background-color: orangered;
    padding: 5px 15px;
    margin: 5px 0;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.icon-color{
    color: orangered;
}